<!-- to overwrite the whatever inside block and endblock in homepage.html -->
{% extends "base.html" %}



{% block css_reference %}
    <!-- Connect to Google Maps API -->
    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuWCAvENcOz861ihyW1EOF8WTJAzKfHfY&libraries=places">
    </script>
{% endblock %}


{% block content %}
<div class="mt-0">
    <div class="text-center mt-10 px-20 sm:px-20 sm:pt-20">
        <p id="header" class="mb-5 text-xl">Navigate. Park. Explore.</p>
        <p class="mb-10 text-slate-500 text-sm"> 
            <!--INFLUENCE TEXT-->
            Join the ParkHub community and embark on a journey of hassle-free parking adventures.
            <br>
            Explore various amenities right at your fingertips. Discover convenience with Parkhub.
        </p>
        
        <!-- Container for Search Form and Results -->
        <div class="flex flex-col items-center"> <!-- Make the container a flex container and align items center -->
            <!-- SEARCHBAR -->
            <div class="px-1 lg:px-24 mb-5"> <!-- Add margin bottom to separate the search form and the results -->
                <form class="w-full" id="infoform"> <!-- Set the width to full -->
                    <label for="autocompleteInput" class="mb-2 text-sm font-medium text-gray-900 sr-only">Extend Session End Time</label>
                    <div class="relative flex items-center"> <!-- Make the container a flex container and align items center -->

                    <div>
                        <br><h4>Please enter your new predicted end time of your parking session</h4>
                        <div>
                            <br><span>End time:</span>
                            <input type="datetime-local" id="endtime" placeholder="endtime" required>
                        </div>
                        <div>
                            <!-- Search Button -->
                            <br><button id='confirmButton' type="submit" id="searchButton" class="sm:visible text-white bg-gray-300 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-md px-20 py-2">Confirm</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Confirm Message Section -->
            <div id="confirmmessage" style='padding:5px;' class="flex flex-col items-center">
           
                
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_reference %}
    <!--Axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src=" {{ url_for('static', filename='js/extendendtime.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
{% endblock %}
